//----------------------
// Configuration
//----------------------

configuration {
	modi:               "drun";
	width:              500;
	lines:              5;
	font:               "Font Awesome 6 Brands 10, SF Pro Display Light 12";
	show-match:         false;
	separator-style:    "solid";
	hide-scrollbar:     true;
    display-drun:       "􀊫";
	}
@theme "nord"