@import "nord"

* {
    font: "SF Pro Display Thin 50";
}

#window {
    width: 718;
    padding: 3;
}

#inputbar {
    enabled: false;
    }

#listview {
    layout: horizontal;
    padding: 0 0 0 0;
    }

#mainbox {
    border: 0;
    padding: 0;
}

#message {
    enabled: false;
    }

#element {
    border: 0;
    padding: 10;
    expand: true;
}