@import "nord"

* {
    font: "SF Pro Display Light 15";
}

#window {
    padding: 919;
    width: 100%;
    transparency: "real";
    background-color: #3B425299;
}

#inputbar {
    enabled: false;
}

#listview {
    padding: 0;
}

#mainbox {
    border: 0;
    padding: 0;
}

#message {
    enabled: false;
    }

#element {
    border: 0;
    expand: true;
}